<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} - {{ site.title }}</title>
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/get-involved">Get Involved</a> |
    <a href="/repositories">Repositories</a> |
    <a href="/donate">Donate</a> |
    <a href="/beerware">Beerware</a> |
    <a href="/software">Software</a> |
    <a href="/licenses">Licenses</a> |
    <a href="/wiki">Wiki</a> |
    <a href="/forums">Forums</a>
  </nav>
  
  <main>
    {{ content }}
  </main>
</body>
</html>