<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} - KSP</title>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #888888;
    }
    ul li {
      float: left;
    }
    ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 10px 16px;
      text-decoration: none;
    }
    ul li a:hover {
      background-color: #111111;
    }
  </style>
</head>
<body>
  <img src="/images/banner.png" alt="banner" width="400" height="125">
  
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/licenses/licenses.html">Licenses</a></li>
    <li><a href="/beerware/beerware.html">Beerware</a></li>
    <li><a href="/repos/repos.html">Repositories</a></li>
  </ul>
  
  {{ content }}
</body>
</html>